.background{
    
    position: relative;
    background-repeat: no-repeat;
    padding: 10px;
    left: 20px;
}

.img2 {
    position: absolute;
    padding: 10px;
    top: 15px;
    left: 10px;
    height: 30px;
}


.fretboard {
    width: auto;
    
}

area {
    cursor: pointer;
}

area:hover{
    
    position: absolute;
    padding: 10;
    top: 5px;
    left: 25px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: block;
    background-color:#1eb285;

}


#one {
    display: none;
    
  }
#one.show {
    display: block;
}

.string1{
    top: -5px;
    left: -20px;
}
.string2{
    left: -20px;
    top: 27px;
}
.string3{
    left: -20px;
    top: 59px;
}
.string4{
    left: -20px;
    top: 89px;
}
.string5{
    left: -20px;
    top: 120px;
}
.string6{
    left: -20px;
    top: 151px;
}


.string1, .string2, .string3, .string4, .string5, .string6{
    position: absolute;
    
    
    height: 20px;
    
    border-radius: 50%;
    width: 9px;
    height: 9px;
    padding: 10px;

    background: rgb(255, 255, 255);
    border: 2px solid #666;
    color: #666;
    

    font: 15px Arial, sans-serif;
    line-height: 13px;
    
    
    font-weight: bold;
}



.dot {
    cursor: pointer;
    position: absolute;
    padding: 10;
    top: 5px;
    left: 25px;
    height: 16px;
    width: 16px;
    background-color: #1eb285;
    border-radius: 50%;
    display: none;
  }

button {
    outline: none;
    position: absolute;
    cursor: pointer;
    background-color: rgb(160, 127, 105);
    border: none;
    color: white;
    left: 12px;
    padding: 12px;
    display: inline-block;
    font-size: 16px;
    border-radius:60%;
}

button:hover{
    background-color: rgb(155, 106, 74);
    left: 11px;
    padding: 13px;
}
.open2{top: 38px;}
.open3{top: 70px;}
.open4{top: 100px;}
.open5{top: 130px;}
.open6{top: 160px;}

.mute{
    height: 1px;
    width: 1px;
    
    outline: none;
    position:absolute;
    
    cursor: pointer;
    background-color: rgb(105, 128, 130);
    border: none;
    color: white;
    
    padding: 5px;
    padding-top:25px;
    
    font-size: 0px;
    background-color:transparent;
    border-radius:10%;
}

.mute:hover{
    position:absolute;
    padding: 1px;
    background-color:transparent;
    left: 4px;
    padding: 0px;
    font-family:  'Arial', sans-serif;
    font-size: 2em;
    color: rgb(143, 13, 13);
    font-weight: bold;
}
.popuptext{
    display:none;
    position:absolute;
    padding: 1px;
    background-color:transparent;
    left: 4px;
    top: 200px;
    padding: 0px;
    font-family:  'Arial', sans-serif;
    font-size: 2em;
    color: rgb(143, 13, 13);
    font-weight: bold;
}

.x1{
    position:absolute;
    top: -2px;
}
.x2{
    position:absolute;
    top: 28px;
}
.x3{
    position:absolute;
    top: 60px;
}
.x4{
    position:absolute;
    top: 90px;
}
.x5{
    position:absolute;
    top: 120px;
}
.x6{
    position:absolute;
    top: 150px;
}



.mute1{
    top:-3px;
    left: 10px;
}
.mute2{
    top:28px;
    left: 10px;
}
.mute3{
    top:60px;
    left: 10px;
}
.mute4{
    top:90px;
    left: 10px;
}
.mute5{
    top:120px;
    left: 10px;
}
.mute6{
    top:150px;
    left: 10px;
}


